{% extends "base.html" %}
{%block title %}
Guía 1
{% endblock %}
{% block content %}
  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">Ejercicio 1</h3>
      <p class="card-text">
        Dado un RDD con columnas (c1,c2,c3), obtener el registro
        con mayor valor de c3.
      </p>
      <textarea cols="50" rows="10"></textarea><br/>
      <a href="#" class="btn btn-success">Enviar solución</a>
    </div>
  </div>
  <!-- /.card -->

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">Ejercicio 2</h3>
      <p class="card-text">
        Dado un RDD con columnas (c1,c2,c3), obtener el registro
        con mayor valor de c3.
      </p>
      <textarea cols="50" rows="10"></textarea><br/>
      <a href="#" class="btn btn-success">Enviar solución</a>
    </div>
  </div>
  <!-- /.card -->

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">Ejercicio 3</h3>
      <p class="card-text">
        Dado un RDD con columnas (c1,c2,c3), obtener el registro
        con mayor valor de c3.
      </p>
      <textarea cols="50" rows="10"></textarea><br/>
      <a href="#" class="btn btn-success">Enviar solución</a>
    </div>
  </div>
  <!-- /.card -->

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">Ejercicio 4</h3>
      <p class="card-text">
        Dado un RDD con columnas (c1,c2,c3), obtener el registro
        con mayor valor de c3.
      </p>
      <textarea cols="50" rows="10"></textarea><br/>
      <a href="#" class="btn btn-success">Enviar solución</a>
    </div>
  </div>
  <!-- /.card -->
</div>
<!-- /.col-lg-9 -->
{% endblock %}
