{% extends "base.html" %}
{%block title %}
Inicio
{% endblock %}
{% block content %}
  <div class="bloque_grande">
    <h3>Plataforma de ejercicios de 75.06</h3>
    <p>En esta plataforma podrás realizar ejercicios sobre distintas
    tecnologías. A la izquierda podés seleccionar una guía.</p>
    <p>Esta plataforma evalúa el código y compara con lo que se espera que
    devuelva; pero <i>no</i> reemplaza el ambiente local que cada alumno
    debe tener instalado. La propuesta de trabajo es que dados los datos
    que se proponen en cada ejercicio lo resuelvan en sus máquinas y cuando
    lleguen al resultado lo envíen al sistema para verificarlo.</p>
  </div>
{% endblock %}
